@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@{
    ViewBag.Title = "HomePage";
}

<body>
    <h2 align="center">Главная страница</h2>
    <hr />
    <div>
        <h2> @Html.ActionLink("Плагины", "PagePlugin", new { area = "" }, new { @style = "color: black" })</h2>
        <p>
            Virtual Studio Technology (VST) — формат ресурсозависимых (native) плагинов реального времени, которые подключаются к звуковым редакторам и музыкальным редакторам, секвенсорам и т. д. Формат был разработан совместно Propellerhead и Steinberg, впоследствии Propellerhead отказался от дальнейших работ над VST и дальнейшая разработка осуществлялась исключительно Steinberg. В настоящее время в этом формате существуют тысячи плагинов, он стал одним из самых распространённых для звуковых программ. Приложения VST отличаются от плагинов DirectX по нескольким параметрам; в частности, они существуют для Windows, Mac OS X и Linux. Кроме того, в отличие от ранних версий DirectX, плагины VST обладают развитым интерфейсом автоматизации.
            По сути дела, когда говорят о VST-плагинах, чаще всего имеют в виду программные аудиоэффекты, подгружаемые в программы для работы со звуком, такие как Cakewalk Sonar, FL Studio, REAPER, Ableton Live, Cubase, Nuendo, Sound Forge, ACID Pro и прочие. Существует также разновидность VST — VSTi. Буква «i» в сокращении обозначает слово «instrument». Как следует из названия, VSTi-плагин представляет собой не эффект, а звукообразующий инструмент — программный синтезатор, ромплер или семплер.
            Основное достоинство VST плагинов — это простота подключения, хранения и работы.
        </p>
    </div>
    <hr />
    <div>
        <h2> @Html.ActionLink("DAW (Цифровая звуковая рабочая станция)", "PageDAW", new { area = "" }, new { @style = "color: black" })</h2>
        <p>
            Цифровая звуковая рабочая станция:(англ. digital audio workstation, DAW) — электронная или компьютерная система, предназначенная для записи, хранения, редактирования и воспроизведения цифрового звука. Предусматривает возможность выполнения на ней законченного цикла работ, от первичной записи до получения готового результата.
        </p>
    </div>
    <hr />
    <div>
        <h2> @Html.ActionLink("Библиотеки семплов", "PageLibrarySample", new { area = "" }, new { @style = "color: black" })</h2>
        <p>
            Семпл, сэмпл (англ. sample [ˈsɑ:mpəl]) — относительно небольшой оцифрованный звуковой фрагмент. В качестве семпла чаще выступает звук акустического инструмента (например, рояля Steinway, литавр, флейты и т.п.), но также и звуки электромузыкальных инструментов (например, Родес-пиано). Электронный музыкальный инструмент, в основе которого лежат семплы (во многих случаях — с последующей обработкой огибающей и дополнительными звуковыми эффектами), называется семплером (сэмплером).
        </p>
    </div>
</body>






